body{
    background-color: black;
}

.div1{
    background-color: rgb(218, 216, 216);
    z-index: 1;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    margin: 30px;
}

button{
    background-color: green;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    color: white;
}

button:hover{
    background-color: red;
}

.add{
    float: right;
    display: block;
    margin-right: 80px;
    margin-top: 30px;
}

.count{
    height: 20px;
    width: 20px;
    background-color: red;
    color: white;
}